/* resources/css/app.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font (optional) */
:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Contoh custom style */
body {
    font-family: var(--font-sans);
}
